S3method(print,cca)
S3method(print,permTest)
export(ccaGrid)
export(ccaProj)
export(corKendall)
export(corM)
export(corPearson)
export(corQuadrant)
export(corSpearman)
export(fastMAD)
export(fastMedian)
export(permTest)
import(Rcpp)
import(RcppArmadillo)
import(pcaPP)
useDynLib(ccaPP)
