export(ccaGrid)
export(ccaProj)
export(corKendall)
export(corM)
export(corPearson)
export(corQuadrant)
export(corSpearman)
export(fastMAD)
export(fastMedian)
export(permTest)
export(print.cca)
export(print.permTest)
import(Rcpp)
import(RcppArmadillo)
import(pcaPP)
useDynLib(ccaPP)
